html{
    height: 100%;
}

body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black ;/*#f4e022 */
    display: flex;
    flex-direction: column;
    
}

.head{
    display: flex; /* Make list items appear in one line */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 15%;
    background-image: url('../img/blue-bg.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    align-items:center; /* Vertically center the elements */
    justify-content:space-between; /* Create space between the span and the list items */

}

.logo{
    padding-left: 10px;
    font-size: 36px; /* Set the font size as desired */
    font-weight: bold; /* Set the font weight as desired */
    text-transform: uppercase; /* Convert the text to uppercase */
    display: inline-block;
    animation: lightUp 2s infinite; /*create animation named lightUp to create light up effect*/
}

.logo-img{
    margin-left: 10px;
}

@keyframes lightUp {
    0%, 100% {
        color: #22c4ff; /* Color for the first letter */
        text-shadow: 0 0 5px #22c4ff; /* Text shadow for the first letter */
    }
    25% {
        color: rgb(233, 17, 136); /* Color for the second letter */
        text-shadow: 0 0 5px rgb(233, 17, 136); /* Text shadow for the second letter */
    }
    50% {
        color: purple; /* Color for the third letter */
        text-shadow: 0 0 5px purple; /* Text shadow for the third letter */
    }
    75% {
        color: white; /* Color for the fourth letter */
        text-shadow: 0 0 5px white; /* Text shadow for the fourth letter */
    }
}

nav{
    text-align: center;
    flex: 1; /* All items take an equal share of available space. */
   
}

nav ul {
    list-style: none; /* Remove default list bullets */
    padding: 0; /* Remove default padding for the list */
    margin: 0;
    display: flex; /* Make list items appear in one line */
    justify-content: center;
    
}
nav ul li {
    margin-right: 30px; /* Add spacing between list items */
    justify-self: center;
    padding-top: 50px;
    position: relative;
    margin-bottom: 35px;
}

nav ul li a{
    text-decoration: none;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    font-size: large;
    align-items: center;
    text-align: center;
    border: 2px solid transparent;
    transition: border-color,transform  ,box-shadow ; 
    cursor: pointer;
}

nav ul li a:hover{
    border-color: #800080;
    border-radius: 20px;
    transform: scale(1.1);
    box-shadow: 0 0 20px purple;
}

.search
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family:sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    color: white;

}

.search input[type="text"] {
    border: 2px solid black; /* Add a border */
    border-radius: 15px; /* Set the border radius for rounded corners */
    padding: 4px; /* Add padding for spacing inside the input box */
    width: 150px; /* Set the desired width */
    font-size: 16upx; /* Adjust the font size */
}


.end {
    display: block;
    
}

.back{
    margin-left: 200px;
}

/* Initially hide the dropdown menu */
.game-dropdown {
    display: none;
    position: absolute;
    background-color:white;
    list-style-type: none;
    text-align: center; /* Center-align the text */
    height: 40px;
    box-sizing:border-box;
    white-space: nowrap;/* Prevent line breaks in dropdown items */
    right:50%; /* Align the dropdown to the right */
    transform: translateX(50%);/* Center the dropdown */
    padding-top: 10px;
    
}

/* When hovering over the game link, show the dropdown as a row */
.game:hover .game-dropdown{
    display: flex;
    flex-direction: row;
    position: absolute;
    border: 1px transparent;
    border-radius: 20px;
    /* margin-top: 10px; remove it to select from dropdown menu*/ 
   
}

/* Optional: Add styles for the dropdown items */
.game-dropdown li {
    padding: 0; /* Add spacing between items */
}

.game-dropdown a{
    color: black;
    text-decoration: none;
    align-items: center;

    
}

/* Style for the container holding the boxes */
.main{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Create 5 equal columns */
    grid-template-rows: 1fr; /* 1 row */
    gap: 30px; /* Add gap between boxes */
    height: 90%; /* Adjust the desired height */
    margin: 40px;
}

/* Style for each box */
.rock-p {
    box-shadow: 0 0 15px black; /* Yellow shadow */
    /* border: 5px solid purple;  */
    border-radius: 15%;
    height: 100%; /* Take the height of the main container */
    transition: transform 0.3s; /* Add transition on hover */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:0px;
    width: 100%;
    text-decoration: none;
    background-image: url(../img/RockPaperScissor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hangman {
    box-shadow: 0 0 15px rgb(0, 0, 0); /* Yellow shadow */
    /* border: 5px solid purple;  */
    border-radius: 15%;
    height: 100%; /* Take the height of the main container */
    transition: transform 0.3s; /* Add transition on hover */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:0px;
    width: 100%;
    text-decoration: none;
    background-image: url(../img/Hangman-Thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.xo {
    box-shadow: 0 0 15px black; /* Yellow shadow */
    /* border: 5px solid purple;  */
    border-radius: 15%;
    height: 100%; /* Take the height of the main container */
    transition: transform 0.3s; /* Add transition on hover */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:0px;
    width: 100%;
    text-decoration: none;
    background-image: url(../img/TicTacToe-Thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Hover effect */
.num-g:hover ,.rock-p:hover,.hangman:hover,.jack:hover,.xo:hover{
    transform: scale(1.08); /* Enlarge the box on hover */
}



/* Media query for mobile devices */
@media (max-width: 600px) {
    .nav li {
        flex-direction: column; /* Stack elements horizontally on mobile */
        
    }
    .search{
        display: none;
    }
}
